.mtt-debugger-label {
  position: absolute;
  right: unset !important;
  left: 24px !important;
  bottom: 24px !important;
  z-index: 10;
  height: 42px;
  background-color: white;
  border-radius: 36px;
  border: solid 1px #BEBFC1;
  line-height: 1;
  padding: 12px 12px 12px 46px;
  font-size: 14px;
  cursor: pointer;
  user-select: none;
}

@media screen and (max-width: 768px) {
  .mtt-debugger-label {
    display: none;
  }
}
