.mtt-modal.mtt-email-modal {
  width: 580px;
  max-width: 70%;
  border-radius: 0 0 24px 24px;
  font-family: "Inter", sans-serif;
}

.mtt-email-bg {
  position: relative;
  background-image: url("../../assets/modal-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 185px;
  .mtt-email-bg-cursor {
    position: absolute;
    width: 130px;
    &:first-child {
      right: -78px;
      bottom: 27px;
    }
    &:nth-child(2n) {
      left: -60px;
      bottom: 63px;
    }
    &:nth-child(3n) {
      right: 165px;
      top: -35px;
    }
  }
}

.mtt-email-modal-body {
  padding: 24px;
  position: relative;
}

.mtt-email-modal-title {
  color: #473CFB;
  font-family: "JetBrains Mono", sans-serif;
  background-image: url("../../assets/title-bg.png");
  font-size: 13px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  text-transform: uppercase;
  position: absolute;
  padding: 8px 20px;
  top: -32px;
  left: 0;
  line-height: 16px;
  width: 450px;
}
.mtt-email-modal-header {
  color: #2D3748;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 16px;
}
.mtt-email-modal-description p {
  color: #718096;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 16px;
}

@media screen and (max-width: 768px) {
  .mtt-email-modal-body {
    padding: 14px;
  }
  .mtt-email-bg {
    height: 145px;
    .mtt-email-bg-cursor {
      width: 110px;
      &:nth-child(2n) {
        left: -40px;
        bottom: 43px;
      }
      &:nth-child(3n) {
        right: 45px;
      }
    }
  }
  .mtt-email-modal-title {
    top: -22px;
    font-size: 12px;
    line-height: 6px;
    width: 300px;
    padding: 8px 14px;
  }
}

@media screen and (max-width: 460px) {
  .mtt-email-bg {
    height: 100px;
    .mtt-email-bg-cursor {
      width: 90px;
      &:first-child {
        right: -58px;
      }
      &:nth-child(3n) {
        right: 35px;
        top: -26px;
      }
    }
  }
  .mtt-email-modal-title {
    top: -16px;
    font-size: 11px;
    line-height: 0;
    width: 220px;
  }
}
