.mtt-message-avatar {
  width: 32px;
  height: 32px;
  min-width: 32px;
  border-radius: 32px;
  margin-right: 16px;
  object-fit: cover;
  &.mtt-outgoing {
    background: #493BFF;
    padding: 6px;
    object-fit: none;
  }
  &.mtt-incoming-empty {
    background-image: url("../../assets/computer-fail.svg");
    object-fit: none;
    background-color: #f03535;
    background-repeat: no-repeat;
    background-position: center;
  }
}
