.mtt-navigation-modal-header {
  color: #2d3748;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  padding: 16px 24px;
}

.mtt-navigation-modal-description {
  color: #505050;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  padding: 8px 24px;
}
